<div ng-init="checkLoggedIn()">
  <div class="col-md-12 main">          
    <div class="row page-header">
      <div class="col-md-4">
        <h1>Historial de Cambios</h1>
      </div><!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </span>
        </div>
      </div><!-- /.col-md-3 -->
    </div><!-- /.row page-header-->
  </div>
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Campo</th>
            <th>Valor</th>
            <th>Fecha/Hora</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>123</td>
            <td>pepito</td>
            <td>Pregunta.id[13]</td>
            <td>qwe</td>
            <td>asd</td>
            <td>{{1288323623006 | date:'medium'}}</td>
          </tr>
          <tr>
            <td>123</td>
            <td>pepito</td>
            <td>Pregunta.id[13]</td>
            <td>qwe</td>
            <td>asd</td>
            <td>{{1288323623006 | date:'medium'}}</td>
          </tr>
          <tr>
            <td>123</td>
            <td>pepito</td>
            <td>Pregunta.id[13]</td>
            <td>qwe</td>
            <td>asd</td>
            <td>{{1288323623006 | date:'medium'}}</td>
          </tr>
          <tr>
            <td>123</td>
            <td>pepito</td>
            <td>Pregunta.id[13]</td>
            <td>qwe</td>
            <td>asd</td>
            <td>{{1288323623006 | date:'medium'}}</td>
          </tr>
          <tr>
            <td>123</td>
            <td>pepito</td>
            <td>Pregunta.id[13]</td>
            <td>qwe</td>
            <td>asd</td>
            <td>{{1288323623006 | date:'medium'}}</td>
          </tr>
          <tr>
            <td>123</td>
            <td>pepito</td>
            <td>Pregunta.id[13]</td>
            <td>qwe</td>
            <td>asd</td>
            <td>{{1288323623006 | date:'medium'}}</td>
          </tr>                                        
        </tbody>
      </table>
    </div>
  </div>
</div>