<div ng-controller="usersController">
  <div class="col-md-12 main">          
    <div class="row page-header">
      <div class="col-md-2">
        <h1>Usuarios</h1>
      </div><!-- /.col-md-2 -->
      <div class="col-md-4 col-md-offset-2">
        <div class="input-group" style="margin-top: 25px;">
          <input type="text" class="form-control" placeholder="Buscar..." ng-model="searchText">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </span>
        </div>
      </div><!-- /.col-md-3 -->
    </div><!-- /.row page-header-->
  </div>
  <uib-tabset active="active">
    <uib-tab heading="Usuarios">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Usuario</th>
              <th>Contraseña</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Legajo</th>
              <th>Puesto</th>
              <th>Examen realizado?</th>
              <th><span></span></th>
              <th><span></span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users | filter: searchText">
              <td>{{user.id}}</td>
              <td>{{user.user}}</td>
              <td>{{user.pass}}</td>
              <td>{{user.name}}</td>
              <td>{{user.lastname}}</td>
              <td>{{user.legajo}}</td>
              <td>{{user.puesto}}</td>
              <td>{{user.examen}}</td>
              <td><a href="" ng-click="setUEdit(user)"><span class="glyphicon glyphicon-edit" aria-hidden="true">Editar</span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </uib-tab>
  </uib-tabset>
</div>

