<div ng-controller="questionsController">  
  <div class="col-md-12 main">          
    <div class="row page-header">
      <div class="col-md-2">
        <h1>Cuestionarios</h1>
      </div><!-- /.col-md-2 -->
      <div class="col-md-4 col-md-offset-2">
        <div class="input-group" style="margin-top: 25px;">
          <input type="text" class="form-control" placeholder="Buscar..." ng-model="searchText">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </span>
        </div>
      </div><!-- /.col-md-3 -->
    </div><!-- /.row page-header-->
  </div>  
  <uib-tabset active="active">
    <uib-tab heading="Preguntas" select="getQuestions()">
      <div class="table-responsive" >
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Pregunta</th>
              <th>Respuesta Correcta</th>
              <th>modulo</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="question in questions | filter: searchText">
              <td>{{question.id}}</td>
              <td>{{question.pregunta}}</td>
              <td>{{question.respCorrecta}}</td>
              <td>{{question.idModulo}}</td>
              <td><a href="" ng-click="goTo('CuestionarioEdit');setQEdit(question)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> editar</a></td>
            </tr>           
          </tbody>
        </table>
      </div>
    </uib-tab>
    <uib-tab heading="Agregar Nueva Pregunta">
      <div ng-controller="addQController">
        <div class="container-fluid"><!--Profile container-->
          <br><br>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <form class="form-horizontal">
                <div class="form-group">
                  <label>Pregunta</label>
                  <div class="input-group">
                    <span class="input-group-addon">¿</span>
                    <input type="text" class="form-control" ng-model="newQ.pregunta">
                    <span class="input-group-addon">?</span>
                  </div>
                </div>  
                <br>
                <div class="form-group">
                  <label>Respuestas</label>
                  <div class="input-group">
                    <span class="input-group-addon">1</span>
                    <input type="text" class="form-control" ng-model="newQ.respuesta1">
                  </div><!-- /input-group -->
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">2</span>
                    <input type="text" class="form-control" ng-model="newQ.respuesta2">
                  </div><!-- /input-group -->
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">3</span>
                    <input type="text" class="form-control" ng-model="newQ.respuesta3">
                  </div><!-- /input-group -->      
                </div>
                <br>
                <div class="form-group">
                  <label>Seleccione la respuesta correcta</label>           
                  <div class="btn-group btn-group-justified">          
                    <label class="btn btn-default" ng-model="newQ.respCorrecta" uib-btn-radio="'1'" uncheckable>Respuesta 1</label>
                    <label class="btn btn-default" ng-model="newQ.respCorrecta" uib-btn-radio="'2'" uncheckable>Respuesta 2</label>
                    <label class="btn btn-default" ng-model="newQ.respCorrecta" uib-btn-radio="'3'" uncheckable>Respuesta 3</label>
                  </div>           
                </div>
                <br>
                <div class="form-group">
                  <label>Seleccione al módulo que corresponde</label>           
                  <div class="btn-group btn-group-justified">          
                    <label class="btn btn-default" ng-model="newQ.idModulo" uib-btn-radio="'1'" uncheckable>1</label>
                    <label class="btn btn-default" ng-model="newQ.idModulo" uib-btn-radio="'2'" uncheckable>2</label>
                    <label class="btn btn-default" ng-model="newQ.idModulo" uib-btn-radio="'3'" uncheckable>3</label>
                    <label class="btn btn-default" ng-model="newQ.idModulo" uib-btn-radio="'4'" uncheckable>4</label>
                    <label class="btn btn-default" ng-model="newQ.idModulo" uib-btn-radio="'5'" uncheckable>5</label>
                    <label class="btn btn-default" ng-model="newQ.idModulo" uib-btn-radio="'6'" uncheckable>6</label> 
                    <label class="btn btn-default" ng-model="newQ.idModulo" uib-btn-radio="'7'" uncheckable>7</label>
                  </div>           
                </div>                                 
                <br>
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-primary btn-block" ng-click="newData(newQ);newQ = null"><b>Guardar pregunta</b></button>
                  </div>
                </div>                                        
              </form>      
            </div>
          </div><!--/.row-->
          <br><br><br>
        </div><!--/Profile container-->
      </div>
    </uib-tab>    
  </uib-tabset>
</div>