<div ng-controller="editQController">
  <div class="col-md-12 main">          
  	<div class="row page-header">
  	  <div class="col-md-12">
  	    <h1>Editar Cuestionario ({{qData.id}})</h1>
  	  </div><!-- /.col-md-12 -->   
  	</div><!-- /.row page-header -->
  </div><!-- /.col-md-12 main -->
  <div class="container-fluid"><!--Profile container-->
    <br><br>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal">
          <div class="form-group">
            <label>Pregunta</label>
            <div class="input-group">
              <span class="input-group-addon">¿</span>
              <input type="text" ng-value="qData.pregunta" ng-model="qData.pregunta" class="form-control">
              <span class="input-group-addon">?</span>
            </div>
          </div>  
          <br>
          <div class="form-group">
            <label>Respuestas</label>
            <div class="input-group">
              <span class="input-group-addon">1</span>
              <input type="text" class="form-control" ng-value="qData.respuesta1" ng-model="qData.respuesta1">
            </div><!-- /input-group -->
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">2</span>
              <input type="text" class="form-control" ng-value="qData.respuesta2" ng-model="qData.respuesta2">
            </div><!-- /input-group -->
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">3</span>
              <input type="text" class="form-control" ng-value="qData.respuesta3" ng-model="qData.respuesta3"> 
            </div><!-- /input-group -->      
          </div>
          <br>
          <div class="form-group">
            <label>Seleccione la respuesta correcta</label>           
            <div class="btn-group btn-group-justified">          
              <label class="btn btn-default" ng-model="qData.respCorrecta" uib-btn-radio="'1'" uncheckable>Respuesta 1</label>
              <label class="btn btn-default" ng-model="qData.respCorrecta" uib-btn-radio="'2'" uncheckable>Respuesta 2</label>
              <label class="btn btn-default" ng-model="qData.respCorrecta" uib-btn-radio="'3'" uncheckable>Respuesta 3</label>          
            </div>           
          </div>
          <br>
          <div class="form-group">
            <label>Seleccione al módulo que corresponde</label>           
            <div class="btn-group btn-group-justified">          
              <label class="btn btn-default" ng-model="qData.modulo" uib-btn-radio="'1'" uncheckable>1</label>
              <label class="btn btn-default" ng-model="qData.modulo" uib-btn-radio="'2'" uncheckable>2</label>
              <label class="btn btn-default" ng-model="qData.modulo" uib-btn-radio="'3'" uncheckable>3</label>
              <label class="btn btn-default" ng-model="qData.modulo" uib-btn-radio="'4'" uncheckable>4</label>
              <label class="btn btn-default" ng-model="qData.modulo" uib-btn-radio="'5'" uncheckable>5</label>
              <label class="btn btn-default" ng-model="qData.modulo" uib-btn-radio="'6'" uncheckable>6</label> 
              <label class="btn btn-default" ng-model="qData.modulo" uib-btn-radio="'7'" uncheckable>7</label>                      
            </div>           
          </div>                                 
          <br>                                        
          <button class="btn btn-primary btn-block" ng-click="saveData(qData)"><b>Guardar cambios</b></button>
        </form>      
      </div>
    </div><!--/.row-->
    <br><br><br>
  </div><!--/Profile container-->
</div>