<div ng-controller="logController" ng-init="checkLoggedIn()">
  <div class="col-md-12 main">          
    <div class="row page-header">
      <div class="col-md-4">
        <h2>Registro de Cambios</h2>
      </div><!-- /.col-md-2 -->
      <div class="col-md-4">
        <div class="input-group" style="margin-top: 25px;">
          <input type="text" class="form-control" placeholder="Buscar..." ng-model="searchText">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </span>
        </div>
      </div><!-- /.col-md-3 -->
    </div><!-- /.row page-header-->
  </div>
  <uib-tabset active="active">
    <uib-tab heading="Cambios">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Elemento</th>
              <th style="width: 450px; padding: 0px;">Nuevo Valor</th>
              <th>Fecha</th>
              <th>Usuario</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="change in changes | filter: searchText">
              <td>{{change.id}}</td>
              <td>{{change.elemento}}</td>
              <td class="ellipsis headTable">{{change.valor}}</td>
              <td>{{change.modificado}}</td>
              <td>{{change.usuario}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </uib-tab>
  </uib-tabset>   
</div>