<div ng-controller="fichasController" ng-init="checkLoggedIn();readModules();">
  <div class="col-md-12 main">          
    <div class="row page-header">
    
      <div class="col-md-2">
        <h1>Fichas</h1>
      </div><!-- /.col-md-2 -->
      <div class="col-md-4 col-md-offset-2">
        <div class="input-group" style="margin-top: 25px;">
          <input type="text" class="form-control" placeholder="Buscar..." ng-model="searchText">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </span>
        </div>
      </div><!-- /.col-md-3 -->
    </div><!-- /.row page-header-->
  </div>
  <uib-tabset active="active">
    <uib-tab heading="Modulo 1">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Indice</th>
              <th>Descripción</th>
              <th>Texto</th>
              <th>vidtmb</th>
              <th><span></span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="signal in signals1 | filter: searchText">
              <td>{{signal.id}}</td>
              <td>{{signal.index}}</td>
              <td>{{signal.descripcion}}</td>
              <td>{{signal.text}}</td>
              <td>
                <div class="row">
                  <div class="col-md-12">
                    <a  class="thumbnail">
                      <img ng-src="api/imagenes-signals/{{signal.vidtmb}}.jpg">
                    </a>
                  </div>
                </div>
              </td>
              <td><a href="" ng-click="setFEdit(signal)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </uib-tab>
    <uib-tab heading="Modulo 2">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Indice</th>
              <th>Descripción</th>
              <th>Texto</th>
              <th>vidtmb</th>
              <th>audio</th>
              <th><span></span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="signal in signals2 | filter: searchText">
              <td>{{signal.id}}</td>
              <td>{{signal.index}}</td>
              <td>{{signal.descripcion}}</td>
              <td>{{signal.text}}</td>
              <td>
                <div class="row">
                  <div class="col-md-12">
                    <a  class="thumbnail">
                      <img ng-src="api/imagenes-signals/{{signal.vidtmb}}.jpg">
                    </a>
                  </div>
                </div>
              </td>
              <td>{{signal.audio}}</td>
              <td><a href="" ng-click="setFEdit(signal)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </uib-tab>
    <uib-tab heading="Modulo 3">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Indice</th>
              <th>Descripción</th>
              <th>Texto</th>
              <th>vidtmb</th>
              <th>audio</th>
              <th><span></span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="signal in signals3 | filter: searchText">
              <td>{{signal.id}}</td>
              <td>{{signal.index}}</td>
              <td>{{signal.descripcion}}</td>
              <td>{{signal.text}}</td>
              <td>
                <div class="row">
                  <div class="col-md-12">
                    <a  class="thumbnail">
                      <img ng-src="api/imagenes-signals/{{signal.vidtmb}}.jpg">
                    </a>
                  </div>
                </div>
              </td>
              <td>{{signal.audio}}</td>
              <td><a href="" ng-click="setFEdit(signal)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </uib-tab>
    <uib-tab heading="Modulo 4">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Indice</th>
              <th>Descripción</th>
              <th>Texto</th>
              <th>vidtmb</th>
              <th>audio</th>
              <th><span></span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="signal in signals4 | filter: searchText">
              <td>{{signal.id}}</td>
              <td>{{signal.index}}</td>
              <td>{{signal.descripcion}}</td>
              <td>{{signal.text}}</td>
              <td>
                <div class="row">
                  <div class="col-md-12">
                    <a  class="thumbnail">
                      <img ng-src="api/imagenes-signals/{{signal.vidtmb}}.jpg">
                    </a>
                  </div>
                </div>
              </td>
              <td>{{signal.audio}}</td>
              <td><a href="" ng-click="setFEdit(signal)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </uib-tab>
    <uib-tab heading="Modulo 5">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Indice</th>
              <th>Descripción</th>
              <th>Texto</th>
              <th>vidtmb</th>
              <th>audio</th>
              <th><span></span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="signal in signals5 | filter: searchText">
              <td>{{signal.id}}</td>
              <td>{{signal.index}}</td>
              <td>{{signal.descripcion}}</td>
              <td>{{signal.text}}</td>
              <td>
                <div class="row">
                  <div class="col-md-12">
                    <a  class="thumbnail">
                      <img ng-src="api/imagenes-signals/{{signal.vidtmb}}.jpg">
                    </a>
                  </div>
                </div>
              </td>
              <td>{{signal.audio}}</td>
              <td><a href="" ng-click="setFEdit(signal)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </uib-tab>
    <uib-tab heading="Modulo 6">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Indice</th>
              <th>Descripción</th>
              <th>Texto</th>
              <th>vidtmb</th>
              <th>audio</th>
              <th><span></span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="signal in signals6 | filter: searchText">
              <td>{{signal.id}}</td>
              <td>{{signal.index}}</td>
              <td>{{signal.descripcion}}</td>
              <td>{{signal.text}}</td>
              <td>
                <div class="row">
                  <div class="col-md-12">
                    <a  class="thumbnail">
                      <img ng-src="api/imagenes-signals/{{signal.vidtmb}}.jpg">
                    </a>
                  </div>
                </div>
              </td>
              <td>{{signal.audio}}</td>
              <td><a href="" ng-click="setFEdit(signal)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </uib-tab>
    <uib-tab heading="Modulo 7">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Indice</th>
              <th>Descripción</th>
              <th>Texto</th>
              <th>vidtmb</th>
              <th>audio</th>
              <th><span></span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="signal in signals7 | filter: searchText">
              <td>{{signal.id}}</td>
              <td>{{signal.index}}</td>
              <td>{{signal.descripcion}}</td>
              <td>{{signal.text}}</td>
              <td>
                <div class="row">
                  <div class="col-md-12">
                    <a  class="thumbnail">
                      <img ng-src="api/imagenes-signals/{{signal.vidtmb}}.jpg">
                    </a>
                  </div>
                </div>
              </td>
              <td>{{signal.audio}}</td>
              <td><a href="" ng-click="setFEdit(signal)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </uib-tab>
  </uib-tabset>
</div>

<style>
  #exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
</style>