<div ng-controller="editFController" ng-init="checkLoggedIn()">
  <div id="modalBackground">
  <div class="col-md-12 main">          
    <div class="row page-header">
      <div class="col-md-12">
        <h1>Editar Ficha ({{fData.id}})</h1>
  </div><!-- /.col-md-12 main -->
  <div class="container-fluid"><!--Container-->
    <br><br>
    <div class="row">
      <div class="col-md-5 col-md-offset-3">
        <form class="form-horizontal">
          <div class="form-group">
            <label>Index</label>
            <input type="text" class="form-control" ng-model="fData.index">
          </div> 
          <div class="form-group">
            <label>Descripcion</label>
            <input type="text" class="form-control" ng-model="fData.descripcion">
          </div>                 
          <div class="form-group">
            <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" id="inputEdit" 
                ta-toolbar="[['bold'],
                             ['wordcount', 'charcount']]">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>X</label>
                <input type="text" class="form-control" ng-model="fData.x">
              </div>
            </div>
            <div class="col-md-3">  
              <div class="form-group">
                <label>Y</label>
                <input type="text" class="form-control" ng-model="fData.y">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Z</label>
                <input type="text" class="form-control" ng-model="fData.z">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>rotY</label>
                <input type="text" class="form-control" ng-model="fData.rotY">
              </div>
            </div>            
          </div>
          <div class="form-group">
            <label>Video</label>
            <input type="text" class="form-control" ng-model="fData.video">
          </div>
          <div class="form-group">
            <label>Imagen</label>
            <br>
            <label class="btn btn-default btn-file" style="margin-bottom:20px;">
              Seleccionar Imagen
              <input type="file" id='files'
                    onchange="angular.element(this).scope().uploadFile(this)"
                    id="filechooser" style="display: none;">
            </label>
            <div class="row">
              <div class="col-md-12">
                <a class="thumbnail">
                  <img id="image-edit" ng-src="api/imagenes-signals/{{fData.vidtmb}}.jpg" style="max-width: 70% !important">
                </a>
              </div>
            </div>
          </div> 
          <div class="form-group">
            <label>Audio</label>
            <input type="text" class="form-control" ng-model="fData.audio">
          </div>                                                        
          <div class="form-group">
            <label>Seleccione al módulo que corresponde</label>           
            <div class="btn-group btn-group-justified">          
              <label class="btn btn-default" ng-model="fData.idModulo" uib-btn-radio="'1'" uncheckable>1</label>
              <label class="btn btn-default" ng-model="fData.idModulo" uib-btn-radio="'2'" uncheckable>2</label>
              <label class="btn btn-default" ng-model="fData.idModulo" uib-btn-radio="'3'" uncheckable>3</label>
              <label class="btn btn-default" ng-model="fData.idModulo" uib-btn-radio="'4'" uncheckable>4</label>
              <label class="btn btn-default" ng-model="fData.idModulo" uib-btn-radio="'5'" uncheckable>5</label>
              <label class="btn btn-default" ng-model="fData.idModulo" uib-btn-radio="'6'" uncheckable>6</label> 
              <label class="btn btn-default" ng-model="fData.idModulo" uib-btn-radio="'7'" uncheckable>7</label>                      
            </div>
          <br>                                        
          <button type="submit" class="btn btn-primary btn-block" ng-click="saveFData(fData)"><b>Guardar cambios</b></button>
        </form>      
      </div>
      <div id="modal">
        <div class="navModal">
          <h1>Lo sentimos</h1>
        </div>
        <div class="row contenedor">
          <i class="fa fa-exclamation-triangle col-md-6" aria-hidden="true"></i>
          <p class="col-md-6"></p>
        </div>

        <button class="btn btn-primary btn-block">Aceptar</button>
      </div>
      </div>
      <style type="text/css">

      #modal{
        width: 50%;
        height: 50%;
        background-color: white;
        position: fixed;
        top: 30%;
        left: 30%;
        z-index: 100000000;
        border-radius: 3px;
        box-shadow: 0 0px 10px 10px #eee;
        -webkit-transition: all .3s ease-in-out;
        --webkit-transform: scale(.8);
        display: none;
      }
      #modal .navModal {
        height: 80px;
        width: 100%;
        background-color: #028081
      }
      #modal .navModal h1{
        color: white;
        margin: 0;
        vertical-align: center;
        line-height: 67px;
        display: block;
        margin: 0px auto;
        padding-left: .5em;
      }
      #modal .contenedor{
        height: 50%;
        margin-top: 4em;
      }
      #modal .contenedor i{
        display: block;
        margin: 0 auto;
        font-size: 8em;
        padding-left: 1em;
        color: rgba(0, 79, 80, 0.7);
      }
      #modal .contenedor p{
        font-size: 1.5em;
        display: block;
        padding: 1.6em
      }
      #modal button{
        width: 20%;
        display: block;
        margin: 0 auto;
      }
      </style>
    </div><!--/.row-->
    <br><br><br>
  </div><!--/Container-->
</div>   
